*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-size: 18px;
}

ul {
    list-style: none;
}

/* task-3-gallery */

body.gallery-bgc {
    background-color: #d3d3d3;
}

#gallery {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 100px;
    margin-bottom: 0;

    list-style: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.gallery-image {
    width: 400px;
    height: 225px;
    background-size: cover;

    border-radius: 5px;

    transform: scale(1);
    transition: transform 250ms linear;
}

.gallery-image:hover {
    transform: scale(1.2);
}

/* task-6-input-validation */

#validation-input {
    border: 3px solid #bdbdbd;
}

#validation-input.valid {
    border-color: #4caf50;
}

#validation-input.invalid {
    border-color: #f44336;
}
